{
	"arrowParens": "always",
	"endOfLine": "lf",
	"printWidth": 130,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"tabWidth": 1,
	"trailingComma": "none",
	"useTabs": true,
	"singleAttributePerLine": true,
	"bracketSpacing": true
}
